[Unit]
Description=Check for an expired custom signage takeover every minute

[Timer]
OnCalendar=*-*-* *:*:00
Persistent=true

[Install]
WantedBy=timers.target
